.footer{
  background: #555b5e;
  &__up{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: rem(20px) 3.125rem;
    border-bottom:4px solid #666c6e;
    @include phones {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: .625rem 1.125rem;
    }
  }
  &-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 40%;
    @include phones {
      width: 100%;
      margin-bottom: .625rem;
    }
    &__link{
      font:16px/1.62 'robotomedium';
      color: #efeee9;
      &:hover {
        color: #00bfa5;
        transition: .5s;
      }
    }
  }
  &__down{
    padding: rem(20px) 3.125rem;
    display: flex;
    justify-content: space-between;
    @include phones{
      display: none;
    }
  }
  &__description{
    width: 40%;
  }
  &__description,&__dev{
    font:16px/1.63  'robotolight';
    color: #aaadaf;
  }
}

.social__icon_footer{
  fill: #aaadaf;
  transition: .1s;
  &:hover{
    fill:#efeee9;
    transition: .5s;
  }
}

.footer-map {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  opacity: .7;
}

