.header{
  padding: rem(20px);
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: rem(30px);
}
.social__icon_head{
  fill: #c0d6d5;
  &:hover{
    fill: #ffffff;
    transition: .5s;
  }
}
.hamburger-menu{
  display: block;
  width: rem(40px);
  height: rem(2px);
  &-bars{
    width: rem(40px);
    height: rem(4px);
    background: #ffffff;
    position: relative;
    border-radius: rem(5px);
    &:before{
      content: '';
      position: absolute;
      width: rem(40px);
      height: rem(4px);
      background: #ffffff;
      top: rem(10px);
      border-radius: rem(5px);
    }
    &:after{
      content: '';
      position: absolute;
      width: rem(40px);
      height: rem(4px);
      background: #ffffff;
      top: rem(-10px);
      border-radius: rem(5px);
    }
  }
}

