.header{
  padding: rem(20px);
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: rem(30px);
}
.social__icon_head{
  fill: #c0d6d5;
  &:hover{
    fill: #ffffff;
    transition: .5s;
  }
}
.hamburger-menu{
  display: block;
  width: rem(40px);
  height: rem(2px);
  &-bars{
    width: rem(40px);
    height: rem(4px);
    background: #ffffff;
    position: relative;
    border-radius: rem(5px);
    &:before{
      content: '';
      position: absolute;
      width: rem(40px);
      height: rem(4px);
      background: #ffffff;
      top: rem(10px);
      border-radius: rem(5px);
    }
    &:after{
      content: '';
      position: absolute;
      width: rem(40px);
      height: rem(4px);
      background: #ffffff;
      top: rem(-10px);
      border-radius: rem(5px);
    }
  }
}

.navigation__humburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 11;
}


.navigation__line {
  width: 2.5rem;
  height: .25rem;
  background: #fff;
  -webkit-border-radius: .1875rem;
  border-radius: .1875rem;
  margin-bottom: .625rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}


.navigation__humburger_active .navigation__line:nth-child(2n+0) {
  opacity: 0;
  transition: .1s;
}
.navigation__humburger_active .navigation__line:first-child {
  transform: rotate(45deg) translateY(20px) ;
}
.navigation__humburger_active .navigation__line:last-child {
  transform:rotate(-43deg) translateY(-19px);
}

.menu{
  opacity: 0;
  visibility: hidden;
  position: fixed;
 п
  &_active{
    position: fixed;
    //@include center;
    opacity: 1;
    visibility: visible;
    transition: 1.6s;
    z-index: 10;
  }
  &__list{
    text-align: center;
  }
  &__item{
    margin-bottom:40px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &__link{
    //@include title;
    position: relative;
    &:hover:before{
      content: "";
      height: 5px;
      width: 20px;
      top: 2.25rem;
      left: -2.5rem;
      background: #efeee9;
      position: absolute;
    }
    &:hover:after{
      content: "";
      height: 5px;
      width: 20px;
      top: 2.25rem;
      right: -2.5rem;
      background: #efeee9;
      position: absolute;
    }
  }
}
.drop-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width:0;
  background:rgba(#08af9c,.9);
  z-index: 9;
  transition: .3s;
  &_active {
    width: 50%;
  }
}
.drop-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width:0;
  background:rgba(#08af9c,.9);
  z-index: 9;
  transition: .3s;
  &_active{
    width: 50%;
  }
}