footer.footer
    .footer__up
        ul.footer-nav
            li.footer-nav__item
                a.footer-nav__link(href='my-works.html') Web development works
            li.footer-nav__item
                a.footer-nav__link(href='about.html') About me
            li.footer-nav__item
                a.footer-nav__link(href='blog.html') Other projects
            li.footer-nav__item
                a.footer-nav__link(href='index.html') Authorization
        ul.social
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#vk_round')
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#github_round')
            li.social__item
                a.social__link(href='#')
                    svg.social__icon_footer(viewbox='0 0 50 50', width='32', height='37')
                        use(xlink:href='images/icons/sprite.svg#in_round')
    .footer__down
        p.footer__dev © Burdyga Daria | 2018