doctype html
html(lang='ru')
    include ../common/head

    body
        .wrapper
            .container
                section.blog
                    include ../common/header
                    .user-blog
                        .foto
                            img.foto__user(src='images/img/photo.jpg', alt='i')
                        .user-name
                            h1.title Бурдыга Дарья
                            p.user__text Личный сайт веб разработчика
                    a.arrow-scroll(href='#')
                        svg.icon__scroll(viewbox='0 0 26 16', width='26', height='16')
                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                main.main-blog
                    .articles
                        article.article
                            h2.subtitle Обо мне
                            .foto_me
                                img.foto__me_main(src='images/img/main_photo.png', alt='#')
                            h2.subtitle Кто я
                            p.article__text
                                | Я веб разработчик из Санкт-Петербурга. Мне 28 лет.
                                | Я занимаюсь разработкой современных сайтов
                                | и приложений. Мне нравится делать интересные
                                | и современные проекты.
                                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,
                                | как тут всё классно и красиво!
                                br
                        article.article
                            h2.subtitle Чем я могу быть вам полезен
                            p.article__text
                                | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи
                                | на Backend. Но давайте по порядку.
                            ul.article_list
                                li.article_item Frontend
                                li.article_item Backend
                                li.article_item WorkFlow
            include ../common/footer

