extends ../template

block variables
    - var title = 'Обо мне'

block content
    h1 Обо мне
    h2 Кто я
    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    h2 Чем я могу быть вам полезен
    include ../common/technologies.pug