doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(content='ie=edge', http-equiv='x-ua-compatible')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='shortcut icon', type='image/x-icon', href='images/favicon/favicon.ico')
        link(rel='stylesheet', href='css/style.min.css')
        script(src='js/bundle.js', defer='')
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQqo7U8AUECEzmP4BBuDooBysmapLAVPk&amp;callback=initMap", async defer)
        title About
    include ../common/head

    body
        .wrapper
            .container
                section.blog
                    include ../common/header
                    .user-about
                        .foto
                            img.foto__user(src='images/img/photo.jpg', alt='i')
                        .user-name
                            h1.title Бурдыга Дарья
                            p.user__text Личный сайт веб разработчика
                    a.arrow-scroll(href='#')
                        svg.icon__scroll(viewbox='0 0 26 16', width='26', height='16')
                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                main.main-blog
                    .articles_blog
                        article.article__left
                            .article__left-content
                                .article__left-content_title
                                    h1.article__left_title Обо мне
                                .article__left-content_text
                                    .foto_me
                                        img.foto__me_main(src='images/img/daria.jpg', alt='#')
                                    h2.subtitle_blog Кто я
                                    p.article__text
                                        | Я веб разработчик из Санкт-Петербурга. Мне 28 лет.
                                        | Я занимаюсь разработкой современных сайтов
                                        | и приложений. Мне нравится делать интересные
                                        | и современные проекты.
                                        br
                                        br
                                        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,
                                        | как тут всё классно и красиво!
                                    br
                        article.article__right
                            h2.subtitle Чем я могу быть вам полезен
                            p.article__text
                                | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи
                                | на Backend. Но давайте по порядку.
                            .article___right-content
                                .skills-list
                                    .skills-list-item Frontend
                                        ul.skills-row__list
                                            li.skills-row__list-item Html5
                                            li.skills-row__list-item CSS3
                                            li.skills-row__list-item  JavaScript & jQuery
                                    .skills-list-item Backend
                                        ul.skills-row__list
                                            li.skills-row__list-item PHP
                                            li.skills-row__list-item mySQL
                                            li.skills-row__list-item Node.js & npm
                                            li.skills-row__list-item Mongo.db
                                    .skills-list-item Workflow
                                        ul.skills-row__list
                                            li.skills-row__list-item Git
                                            li.skills-row__list-item Gulp
                                            li.skills-row__list-item Bower

                //section.section.about
                //    .about__left
                //        .triangle.tringle_fill_white.about__left-triangle
                //        .about__left-title
                //            .block-title Обо мне
                //            .foto_me
                //                img.foto__me_main(src='images/img/daria.jpg', alt='#')
                //        .about__left-content
                //            .user-description
                //                .user-description__image
                //                    img.user-description__avatar
                //                .user-description__title
                //                    .block-subtitle Кто я
                //                .user-description__text.text-content
                //                    p.article__text
                //                    | Я веб разработчик из Санкт-Петербурга. Мне 28 лет.
                //                    | Я занимаюсь разработкой современных сайтов
                //                    | и приложений. Мне нравится делать интересные
                //                    | и современные проекты.
                //                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,
                //                    | как тут всё классно и красиво!
                //                    br
                //    .about__right
                //        .triangle.tringle_fill_beige.about__right-triangle
                //        .about__right-title
                //            .block-subtitle Чем я могу быть вам полезен
                //        .about__right-text.text-content
                //            p.article__text
                //                | Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи
                //                | на Backend. Но давайте по порядку.
                //        .about__right-content
                //            ul.skills-list
                //                each item in ['Frontend', 'Backend', 'Workflow']
                //                    li.skills-list__item
                //                        .skills-row
                //                            .skills-row__title #{item}
                //                            ul.skills-row__list
                //                                each skill in ['Html5', 'css3', 'JavaScript']
                //                                    li.skills-row__item
                //                                        .skill
                //                                            svg.skill__circle
                //                                            .skill__title #{skill}
                section.section.map
                    .google-map#map
                    .map__contacts
                        .contacts
                            .contacts__title
                                .block-subtitle.contacts-subtitle Контакты
                            ul.contacts__list
                                li.contacts__list-item
                                    svg.icon__scroll_block(viewbox='0 0 26 16', width='26', height='16')
                                        use(xlink:href='images/icons/sprite.svg#skype')
                                    a.contacts__list-text daria burdyga
                                li.contacts__list-item
                                    svg.icon__scroll_block(viewbox='0 0 26 16', width='26', height='16')
                                        use(xlink:href='images/icons/sprite.svg#envelope')
                                    a.contacts__list-text dariaburdyga@gmail.com
                                li.contacts__list-item
                                    svg.icon__scroll_block(viewbox='0 0 26 16', width='26', height='16')
                                        use(xlink:href='images/icons/sprite.svg#phone')
                                    a.contacts__list-text +7981 709 71 00
                                li.contacts__list-item
                                    svg.icon__scroll_block(viewbox='0 0 26 16', width='26', height='16')
                                        use(xlink:href='images/icons/sprite.svg#map_marker')
                                    a.contacts__list-text Санкт-Петербург

            include ../common/footer

