doctype html
html(lang='ru')
    include ../common/head
    body
        .wrapper
            .preloader#preloader
                .preloader__svg-cont
                    svg.preloader__svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
                        circle.circle_1(opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new" cx="72" cy="71.999" r="70")
                        circle.circle_2(opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55")
                        circle.circle_3(fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40")
                        text.preloader__text#preloader__text(transform="matrix(1 0 0 1 51.5391 79.0127)" fill="#FFFFFF" font-family="'ArialMT'" font-size="24") 0%
            .container
                section.blog
                    include ../common/header
                    .user-blog
                        .foto
                            img.foto__user(src='images/img/photo.jpg', alt='my photo')
                        .user-name
                            h1.blog_title Test projects
                            p.user__text manual and automatization testing
                    a.arrow-scroll(href='#')
                        svg.icon__scroll(viewbox='0 0 26 16', width='26', height='16')
                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                    .about__triangle
                        svg.about__triangle_white(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveAspectRatio="none")
                            polygon.about__triangle_left(fill="#efeee9", points="0,0 0,86 500.8,86 500.8,75.5")
                            polygon.about__triangle_right(fill="#efeee9" points="1000,0 1000,86 500,86 500,75.5")
                main.main-blog
                    .saidbar-div
                        aside.saidbar
                            ul.saidbar__list
                                li.saidbar__item.saidbar__item-active
                                    a.saidbar__link(href='#')
                                        | BMW CASA
                                li.saidbar__item
                                    a.saidbar__link(href='#')
                                        | Data Intelligence Hub
                                li.saidbar__item
                                    a.saidbar__link(href='#')
                                        | BMW OSM
                    .articles
                        article.article
                            h2.subtitle BMW CASA
                            p.article__data
                                time.data__time June 2018 — till now
                            p.article__text
                                | BMW CASA (Call Center Agent Manual for Contract And Services Administration) 
                                | is a management system to handle data about ConnectedDrive contracts.
                            p.article__text
                                | Tasks:  
                                ul.article__text
                                    li  - Experience of manual testing, of testing Web services (REST, SOAP) and in automation
                                    li  - Experience in Oracle SQL Developer, JIRA, Confluence, HP ALM
                                    li  - Experience of writing of test cases, test plans, bug reports
                                    li  - Upper-Intermediate English, fluent German
                            //- .CodeMirror
                            //-     textarea(id="code", cols="60", rows="7")
                        article.article
                            h2.subtitle DIH
                            p.article__data
                                time.data__time March 2018 — May 2018 (3 months)
                            p.article__text
                                | Data Intelligence Hub (DIH)
                                | (Single source for all data analytics matters and secure data exchange with business partners)
                            p.article__text
                                | Tasks:
                                ul.article__text    
                                    li - Automate E2E testing using Cucumber tool on Gherkin language in Nightwatchjs in Visual Studio Code
                                    li - Experience in Git, CSS, HTML, SASS
                        article.article
                            h2.subtitle BMW OSM
                            p.article__data
                                time.data__time December 2016 — August 2017 (9 months)
                            p.article__text
                                | BMW Online Sales is a cross-channel project with the goal of online-based vehicle sales 
                                | for BMW Group production-series cars as a new distribution channel. This new channel combines – in a multi-channel approach – web-based online processes, 
                                | Customer Interaction Centre processes and stationary retail processes that can be conducted online with the retailer.
                            p.article__text
                                | Tasks: 
                                ul.article__text  
                                    li - Functional testing of web application: manual testing, test-case and checklist creation and adaptation
                                    li - Defect management: defects analyzing, description and tracking using JIRA and HP ALM
                                    li - Cooperation with development and business teams: clarification meetings, specification gaps finding
                                    li - Cooperation with Customer's test management team: planning of test activities, integration of Customer's test results into regular workflow

            include ../common/footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8")
        script(src='js/bundle.js')