extends ../template


block variables
    - var title = 'Добро пожаловать'



block content
    section.section.welcome
        header.welcome-authorization
            button.authorization__text Авторизоваться
        .center-block
            .start-block
                .info__block
                    .info__block-avatar
                        img.pic-avatar
                    .info__block-name
                        h2 Дарья Бурдыга
                    .info__block-text Личный сайт веб разработчика
                ul.social__list
                    li.social__item.item__vk
                        a(href="" class=`socials__item socials__item_${item}`)
                        img(src="assets/images/vk-green.svg", alt="")
                    li.social__item.item__github
                        a(href="" class=`socials__item socials__item_${item}`)
                        img(src="assets/images/github-green.svg", alt="")
                    li.social__item.item__in
                        a(href="" class=`socials__item socials__item_${item}`)
                        img(src="assets/images/in-green.svg", alt="")
                ul.pages__list
                    li.pages__item.item__my-works
                        a.my-works__text Мои работы
                    li.pages__item.item__about
                        a.about__text Обо мне
                    li.pages__item.item__blog
                        a.blog__text Блог
            .authorization-block
                form.form
                    ul.authorization__list
                        li.authorization__title Авторизуйтесь
                        li.authorization__border-line
                        li.authorization__login
                            .logo__icon
                                svg.icon__svg
                            -
                                var inputAtr = {
                                type: 'text',
                                type_check: 'checkbox',
                                type_rad: 'radio',
                                name: 'login',
                                pass: 'password'}
                            input(type = inputAtr.type, name = inputAtr.name).login__field
                        li.authorization__password
                            .logo__icon
                                svg.icon__svg
                            input(type = inputAtr.type, name = inputAtr.pass).password__field
                        li.authorization__checkbox
                            input(type = inputAtr.type_check checked).checkbox__field
                            span.checkbox__text Я человек
                        li.authorization__radio
                            .radio__text Вы точно не робот?
                            input(type = inputAtr.type_rad checked)
                            span.radio__text Да
                            input(type = inputAtr.type_rad)
                            span.radio__text Не уверен
                        li.authorization__buttons
                            a.button__main На главную
                            a.button__enter Войти

        footer.welcome-footer
            p.welcome-footer__text © Дарья Бурдыга | создано с любовью в LoftSchool | 2017
