doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Login
        link(rel='shortcut icon', type='image/x-icon', href='images/favicon/favicon.ico')
        link(rel='stylesheet', href='css/style.min.css')
        script(src='js/bundle.js', defer='')
    body
        .wrapper
            section.welcome
                .user
                    .name
                        p.name__user Авторизуйтесь

                    ul.navigation
                        li.navigation__item
                            a.navigation__link(href='index.html') На главную
                        li.navigation__item
                            a.navigation__link(href='#') Войти
                p.dev © Бурдыга Дарья | создано с любовью в LoftSchool | 2017