doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Login
        link(rel='shortcut icon', type='image/x-icon', href='images/favicon/favicon.ico')
        link(rel='stylesheet', href='css/style.min.css')
        script(src='js/bundle.js', defer='')
    body
        .wrapper
            section.welcome
                .user
                    .login
                        p.login__user Авторизуйтесь
                        .authorization-block
                            form.form
                                ul.authorization__list
                                    li.authorization__border-line
                                    li.authorization__login
                                        .logo__icon
                                            svg.icon__svg
                                        -
                                            var inputAtr = {
                                            type: 'text',
                                            type_check: 'checkbox',
                                            type_rad: 'radio',
                                            name: 'login',
                                            pass: 'password'}
                                        input(type = inputAtr.type, name = inputAtr.name).login__field
                                    li.authorization__password
                                        .logo__icon
                                            svg.icon__svg
                                        input(type = inputAtr.type, name = inputAtr.pass).password__field
                                    li.authorization__checkbox
                                        input(type = inputAtr.type_check checked).checkbox__field
                                        span.checkbox__text Я человек
                                    li.authorization__radio
                                        .radio__text_bold Вы точно не робот?
                                        input(type = inputAtr.type_rad checked)
                                        span.radio__text Да
                                        input(type = inputAtr.type_rad)
                                        span.radio__text Не уверен
                    ul.navigation
                        li.navigation__item
                            a.navigation__link(href='index.html') На главную
                        li.navigation__item
                            a.navigation__link(href='#') Войти
                p.dev © Бурдыга Дарья | создано с любовью в LoftSchool | 2017