doctype html
html(lang='ru')
    include ../common/head
    body
        .wrapper
            .container
                section.blog
                    include ../common/header
                    .user-blog
                        .foto
                            img.foto__user(src='images/img/photo.jpg', alt='i')
                        .user-name
                            h1.title Бурдыга Дарья
                            p.user__text Личный сайт веб разработчика
                    a.arrow-scroll(href='#')
                        svg.icon__scroll(viewbox='0 0 26 16', width='26', height='16')
                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                section.works_title
                    h2.subtitle_works Мои работы
                main.main-works
                    .articles_works
                        article.article__left
                            h4.subtitle Сайт школы онлайн образования
                            p.article__text_works
                                | HTML, CSS, JAVASCRIPT
                            button.works Посмотреть сайт
                        article.article__right
                            img.works_img(src='images/img/works.png', alt='#')
                            img.works_img(src='images/img/works_1.png', alt='#')
                            img.works_img(src='images/img/works_2.png', alt='#')
                section.comments
                        .comments__content
                            .comments__content_title
                                h2.subtitle__comments Что обо мне говорят
                            .comments__description
                                .comments__description_left
                                    p.comments__description_left_text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                    .comments__description_title Ковальчук Дмитрий
                                    .comments__description_position основатель Loftschool
                                    img.comments__description_img(src='images/img/kovalchuk.png', alt='#')
                                .comments__description_right
                                    p.comments__description_right_text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                    .comments__description_title Сабанцев Владимир
                                    .comments__description_position преподаватель
                                    img.comments__description_img(src='images/img/sabanzev.png', alt='#')

                include ../common/footer







