doctype html
html(lang='ru')
    include ../common/head
    body
        .wrapper
            .container.work-container
                section.blog
                    include ../common/header
                    .user-blog
                        .foto
                            img.foto__user(src='images/img/photo.jpg', alt='i')
                        .user-name
                            h1.title Бурдыга Дарья
                            p.user__text Личный сайт веб разработчика
                    a.arrow-scroll(href='#')
                        svg.icon__scroll(viewbox='0 0 26 16', width='26', height='16')
                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                    .about__triangle
                        svg.about__triangle_white(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveAspectRatio="none")
                            polygon.about__triangle_left(fill="#faf8f0", points="0,0 0,86 500.8,86 500.8,75.5")
                            polygon.about__triangle_right(fill="#faf8f0" points="1000,0 1000,86 500,86 500,75.5")
                section.works_title
                    h2.subtitle_works Мои работы
                section.main-works
                    .articles_works
                        article.article__left#article_left
                            h4.subtitle Сайт школы онлайн образования
                            p.article__text_works
                                | HTML, CSS, JAVASCRIPT
                            button.works Посмотреть сайт
                        article.article__right#article_color
                            .article__right_main
                            img.works_img_big(src='images/img/works.png', alt='#')
                            .article__right_slides
                                .article__right_slides_left
                                    img.works_img(src='images/img/works_1.png', alt='#')
                                .article__right_slides_right
                                    img.works_img(src='images/img/works_2.png', alt='#')
                section.comments
                    .comments__content
                        .comments__content_title
                            h2.subtitle__comments Что обо мне говорят
                        .comments__description
                            .comments__description_left
                                img.loft-description__img(src="images/img/quotes.png" alt="quotes")
                                p.comments__description_left_text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                .comments__description_content
                                    img.comments__description_img(src='images/img/kovalchuk.png', alt='#')
                                    .comments__description_text
                                        .comments__description_title Ковальчук Дмитрий
                                        .comments__description_position основатель Loftschool
                            .comments__description_right
                                img.loft-description__img(src="images/img/quotes.png" alt="quotes")
                                p.comments__description_right_text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .comments__description_content
                                    img.comments__description_img(src='images/img/sabanzev.png', alt='#')
                                    .comments__description_text
                                        .comments__description_title Сабанцев Владимир
                                        .comments__description_position преподаватель
                        .block-form
                            .blur
                                .blur__background
                                .blur__form-wrapper
                                    .blur__form
                            .form.form
                                h2.subtitle.subtitle-form Связаться со мной
                                input(type='text' placeholder='Имя').form__input.form__name
                                input(type='email' placeholder='Email').form__input.form__email
                                textarea(placeholder='Ваше сообщение').form__message
                                .form__button
                                    button.form__button_send Отправить
                                    button.form__button_clear Очистить
                        a.arrow-scroll_up(href="#")
                            svg.icon__scroll_up(viewbox="0 0 50 50" width="25" height="25")
                                use(xlink:href="images/icons/sprite.svg#portf_arrow_up")

                include ../common/footer







