extends ../template

block variables
    - var title = 'Мои работы'

block content
    h1 Мои работы
    h2 Сайт школы онлайн Образования
    p HTML , CSS, JAVASCRIPT

    h1 Что обо мне говорят
    button Посмотреть сайт

    h2 Связаться со мной
    //- include ../common/slider.pug