doctype html
html(lang='ru')
    include ../common/head
    body
        .wrapper
            .preloader#preloader
                .preloader__svg-cont
                    svg.preloader__svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
                        circle.circle_1(opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new" cx="72" cy="71.999" r="70")
                        circle.circle_2(opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55")
                        circle.circle_3(fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40")
                        text.preloader__text#preloader__text(transform="matrix(1 0 0 1 51.5391 79.0127)" fill="#FFFFFF" font-family="'ArialMT'" font-size="24") 0%
            .container.work-container
                section.blog
                    include ../common/header
                    .user-blog
                        .foto
                            img.foto__user(src='images/img/photo.jpg', alt='my photo')
                        .user-name
                            h1.title Бурдыга Дарья
                            p.user__text Личный сайт веб разработчика
                    a.arrow-scroll(href='#')
                        svg.icon__scroll(viewbox='0 0 26 16', width='26', height='16')
                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                    .about__triangle
                        svg.about__triangle_white(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1000 85", preserveAspectRatio="none")
                            polygon.about__triangle_left(fill="#faf8f0", points="0,0 0,86 500.8,86 500.8,75.5")
                            polygon.about__triangle_right(fill="#faf8f0" points="1000,0 1000,86 500,86 500,75.5")
                section.works_title
                    h2.subtitle_works Мои работы
                section.works
                    .works__slider
                        .slider__info
                            ul.slider-info__list
                                li.slider-info__item.active
                                    .slider__title
                                        h3.subtitle Сайт 1
                                    .slider__skills
                                        .slider__skills-text HTML, CSS, JAVASCRIPT
                                    .slider__link-wrap
                                        a.slider__button(href="#")
                                            .slider__button-svg
                                                svg.slider__button-svg-white(viewbox='0 0 50 50', width='25', height='25')
                                                    use(xlink:href='images/icons/sprite.svg#link')
                                                span.text-link Посмотреть сайт
                                li.slider-info__item
                                    .slider__title
                                        h3.subtitle Сайт 2
                                    .slider__skills
                                        .slider__skills-text PUG, SASS
                                    .slider__link-wrap
                                        a.slider__button(href="#")
                                            .slider__button-svg
                                                svg.slider__button-svg-white(viewbox='0 0 50 50', width='25', height='25')
                                                    use(xlink:href='images/icons/sprite.svg#link')
                                                span.text-link Посмотреть сайт
                                li.slider-info__item
                                    .slider__title
                                        h3.subtitle Сайт 3
                                    .slider__skills
                                        .slider__skills-text JADE, SCSS, NODE JS
                                    .slider__link-wrap
                                        a.slider__button(href="#")
                                            .slider__button-svg
                                                svg.slider__button-svg-white(viewbox='0 0 50 50', width='25', height='25')
                                                    use(xlink:href='images/icons/sprite.svg#link')
                                                span.text-link Посмотреть сайт
                                li.slider-info__item
                                    .slider__title
                                        h3.subtitle Сайт 4
                                    .slider__skills
                                        .slider__skills-text PHP, POST CSS
                                    .slider__link-wrap
                                        a.slider__button(href="#")
                                            .slider__button-svg
                                                svg.slider__button-svg-white(viewbox='0 0 50 50', width='25', height='25')
                                                    use(xlink:href='images/icons/sprite.svg#link')
                                                span.text-link Посмотреть сайт
                        .slider__right-top
                            .slider-screen
                                ul.carousel-main
                                    li.carousel-main__slide.active
                                        img.slider-screen__img(src="images/img/slide.png")
                                    li.carousel-main__slide
                                        img.slider-screen__img(src="images/img/slide-1.png")
                                    li.carousel-main__slide
                                        img.slider-screen__img(src="images/img/work1.png")
                                    li.carousel-main__slide
                                        img.slider-screen__img(src="images/img/work2.png")
                        .slider__btns
                            button.previous-slide.slider__link#previous
                                ul.carousel-slides
                                    li.carousel-slides__slide.carousel-slides__slide-previous.old-active
                                        img.slider__img(src="images/img/slide.png")
                                    li.carousel-slides__slide.carousel-slides__slide-previous
                                        img.slider__img(src="images/img/slide-1.png")
                                    li.carousel-slides__slide.carousel-slides__slide-previous.next-active
                                        img.slider__img(src="images/img/work1.png")
                                    li.carousel-slides__slide.carousel-slides__slide-previous.active
                                        img.slider__img(src="images/img/work2.png")
                            button.next-slide.slider__link#next
                                ul.carousel-slides
                                    li.carousel-slides__slide.carousel-slides__slide-next.old-active
                                        img.slider__img(src="images/img/slide.png")
                                    li.carousel-slides__slide.carousel-slides__slide-next.active
                                        img.slider__img(src="images/img/slide-1.png")
                                    li.carousel-slides__slide.carousel-slides__slide-next.next-active
                                        img.slider__img(src="images/img/work1.png")
                                    li.carousel-slides__slide.carousel-slides__slide-next
                                        img.slider__img(src="images/img/work2.png")
                //.block-slider
                //    .slider
                //        .slider__description
                //            .slider__description--info
                //                .block-subtitle.slider__title Сайт школы онлайн образования
                //                .slider__text html, css, javascript
                //                .slider__link-block
                //                    a(href="https://loftschool.com/").slider__link Посмотреть cайт
                //                        .slider__link--pic
                //                            svg.link-svg
                //                                use(xlink:href='images/icons/sprite.svg#link')
                //        .slider__main-pic
                //            .slider__main-pic--block
                //                img(src='images/img/works.png', alt="скриншот сайта №1").slider__main-pic--img
                //        .slider__menu
                //            .slider__btn-block
                //                .slider__menu--prev-img
                //                    img(src='images/img/works_1.png', alt="скриншот сайта №4").slider__prev-pic--img
                //                    .slider__menu--prev
                //                        svg.arrow-down
                //                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                //                .slider__menu--next-img
                //                    img(src='images/img/works_2.png', alt="скриншот сайта №2").slider__next-pic--img
                //                    .slider__menu--prev
                //                        svg.arrow-up
                //                            use(xlink:href='images/icons/sprite.svg#arrow_down')
                section.comments
                    .comments__content
                        .comments__content_title
                            h2.subtitle__comments Что обо мне говорят
                        .comments__description
                            .comments__description_left
                                img.loft-description__img(src="images/img/quotes.png" alt="quotes")
                                p.comments__description_left_text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                                .comments__description_content
                                    img.comments__description_img(src='images/img/kovalchuk.png', alt='photo teacher')
                                    .comments__description_text
                                        .comments__description_title Ковальчук Дмитрий
                                        .comments__description_position основатель Loftschool
                            .comments__description_right
                                img.loft-description__img(src="images/img/quotes.png" alt="quotes")
                                p.comments__description_right_text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                                .comments__description_content
                                    img.comments__description_img(src='images/img/sabanzev.png', alt='photo teacher')
                                    .comments__description_text
                                        .comments__description_title Сабанцев Владимир
                                        .comments__description_position преподаватель
                        .block-form
                            .blur
                                .blur__background
                                .blur__form-wrapper
                                    .blur__form
                            .form.form
                                h2.subtitle.subtitle-form Связаться со мной
                                input(type='text', placeholder='Имя').form__input.form__name
                                input(type='email', placeholder='Email').form__input.form__email
                                textarea(placeholder='Ваше сообщение').form__message
                                .form__button
                                    button(id='form__button_send').form__button_send Отправить
                                    input(type='reset', name='reset', value='Очистить').form__button_clear
                        a.arrow-scroll_up(href="#")
                            svg.icon__scroll_up(viewbox="0 0 50 50" width="25" height="25")
                                use(xlink:href="images/icons/sprite.svg#portf_arrow_up")

                include ../common/footer
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQqo7U8AUECEzmP4BBuDooBysmapLAVPk&amp;callback=initMap", async defer)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='js/bundle.js')







