section.section my-works
    .title-work
        h1.title-works Мои работы
section.section carousel
section.section speak
    .title-speak
        h1.title-speaks Что обо мне говорят
    .speak-description
        .loft-description
            img.loft-description__img(src="images/img/quotes.png" alt="quotes")
            p.Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!</p>
            .loft-user
                .loft-user__img
                    img.loft-user__pic(src="images/img/kovalchuk.jpg" alt="Kovalchuk")
                .loft-name
                    p.Ковальчук Дмитрий
                    p.основатель Loftscool
        .loft-description
            img.loft-description__img(src="images/img/quotes.png" alt="quotes")
            p.Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .loft-user
                .loft-user__img
                    img.loft-user__pic(src="images/img/sabancev.jpg" alt="Sabancev")
                .loft-name
                    p.Сабанцев Владимир
                    p.преподаватель
    .block-form
        form.form
            h2.subtitle subtitle-form Связаться со мной
            input.form__input form__name(type="text" placeholder="Имя")
            input.form__input form__email(type="email" placeholder="Email")
            textarea.form__message(placeholder="Ваше сообщение")
            .form__button
                button.form__button_send Отправить
                input.form__button_clear (type="reset" name="reset" value="Очистить")
    a.arrow-scroll_up(href="#")
    svg.icon__scroll_up(viewbox="0 0 50 50" width="25" height="25")
        use(xlink:href="images/icons/sprite.svg#portf_arrow_up")
