body {
    margin: 100px;
    //background: grey;
    background-image: url("./assets/images/background.png");
    color:black;
}



@import 'common/menu';
@import 'common/technologies';
@import 'common/slider';