// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phonesmall: 320px;

@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}
//html {
//  font-size:rem(16px);
//  @include tablets {
//    font-size: rem(15px);
//  }
//
//  @include phones {
//    font-size: rem(13px);
//  }
//
//  @include phonesmall {
//    font-size: rem(13px);
//  }
//}

body {
    margin: 100px;
    background-image: url("../images/background.png");
    width: 1800px;
    height: 900px;
    color:white;
    font-family: Roboto-Regular;
    font-weight: normal;
}

html {
  font-family: Roboto-Regular;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: Roboto-Regular;
  font-weight: normal;
}

p {
  font-family: Roboto-Regular;
  font-weight: normal;
}
.socials_rounded {
  opacity: 0.5;
}
.socials {
  opacity: 0.5;
}

html,
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.section {
  font-family: Roboto-Regular;
  font-weight: normal;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
}




@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-BoldItalic;
  src: url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Italic;
  src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto-LightItalic;
  src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont-webfont.woff2') format('woff2');
  url('../fonts/fontawesome-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BernierRegular';
  src: url('../fonts/bernier/bernierregular-regular-webfont.woff2') format('woff2'),
  url('../fonts/bernier/bernierregular-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BernierShade';
  src: url('../fonts/bernier/berniershade-regular-webfont.woff2') format('woff2'),
  url('../fonts/bernier/berniershade-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@import 'common/menu';
@import 'common/technologies';
@import 'common/slider';

////  normalize
//@import 'normalize';
//
////  layout
//@import 'layout/base';
//@import 'layout/fonts';
//
////  section
//@import 'section/*.scss';
//
////  common
//@import 'common/*.scss'