//colors
$white:                       #ffffff;
$aquamarine:                  #08af9c;
$dark-green:                  rgb(0,150,136);
$black: #373e42;
$grey: #455a64;
$green: #009688;
$light: #00bfa5;
//fonts
$font-size:                   14px;
//media queries
$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;
