.article__left_title {
  font-family: bernier_regularregular;
  color: #455a64;
  font-size: rem(46px);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  align-items:center;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    width: 31.125rem;
    height: 11.5rem;
    background:url("../images/icons/about_header.svg");
    opacity: 0.1;
    top: -30%;
    right: -159%;
    background-repeat: no-repeat;
    background-size: 50%;
  }
}



.articles_blog{
  width: 100%;
  display: flex;
}

.article__left-content {
  display: flex;
  width: 100%;
}
.article__left-content_title {
  flex:1;
  width: 30%;
}

.article__left-content_text {
  flex:2;
  width: 70%;
}

.article{
  border-bottom: rem(4px) solid #f1f1f2;
  padding-bottom: rem(65px);
  margin-bottom: rem(65px);
}

.article__data{
  margin-bottom: rem(30px);
}

.article__text{
  @include robotoreg;
  margin-bottom: rem(20px);
  text-align: left;
}




.subtitle_blog {
  text-align: center;
  font-family: bernier_regularregular;
  font-size: rem(35px);
  color: #455a64;
  margin-bottom: 1.875rem;
}

.foto__me_main {
  margin-bottom: rem(20px);
  width: 83%;
}


//.article__left_title:before {
//  content: '';
//  position: absolute;
//  width: 1.25rem;
//  height: .3125rem;
//  background-color: rgba(255,255,255,.5);
//  top: 51%;
//  left: 12.2rem;
//}
//
//.article__left_title:after {
//  content: '';
//  position: absolute;
//  width: 1.25rem;
//  height: .3125rem;
//  background-color: rgba(255,255,255,.5);
//  top: 51%;
//  left: 12.2rem;
//}

//.subtitle_blog:after {
//  content: '';
//  position: absolute;
//  width: 1.25rem;
//  height: .3125rem;
//  background-color: #373e42;
//  top: 38%;
//  left: 23.2rem;
//  opacity: 0.2;
//}
//
//.subtitle_blog:before {
//  content: '';
//  position: absolute;
//  width: 1.25rem;
//  height: .3125rem;
//  background-color: #373e42;
//  top: 38%;
//  left: 23.2rem;
//  opacity: 0.2;
//}



.container {
  background: #efeee9;
}

.skills-list-item {
  font-size: rem(28px);
  font-family: robotomedium;
  color:#455a64;
}

.skills-row__list-item {
  font-size: rem(14px);
  font-family: robotomedium;
  color:#00bfa5;
}

.skills-row__list-item {
  display: inline-block;
  margin: rem(15px);
}

.icon__scroll_block {
  fill:#00bfa5;
}
//
//.contacts{
//  width: rem(380px);
//  height: rem(290px);
//  background: grey;
//  text-align: center;
//  padding: rem(49px);
//}

.map {
  position: relative;
  height: 100vh;
}

#map {
  position: relative;
  overflow: hidden;
}


.google-map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(229, 227, 223);
}

.map__contacts {
  width: 23.5625rem;
  height: 18.3125rem;
  background-color: rgba(252,252,252,.85);
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 2.1875rem;
  -webkit-border-radius: .3125rem;
  border-radius: .3125rem;
}

.contacts__list-item {
  margin: 1.3rem 0;
  text-align: left;
}

.block-subtitle:before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .25rem;
  background-color: rgba(55,62,66,.2);
  top: 20%;
  left: 9.625rem;
}

.block-subtitle:after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .25rem;
  background-color: rgba(55,62,66,.2);
  top: 20%;
  right: 9.625rem;
}

.contacts-subtitle:after {
  right: 5.625rem;
}

.contacts-subtitle:before {
  left: 5.625rem;
}

.main-blog {
  background: #efeee9;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__triangle {
  position: absolute;
  bottom: rem(-18px);
  left: 0;
  right: 0;
}

.contacts__list-text {
  font: 1rem/1.625rem robotomedium;
  color: #455a64;
}


