.article__left_title {
  font-family: bernier_regularregular;
  color: #455a64;
  font-size: rem(46px);
  font-weight: 500;
}

.articles_blog{
  width: 100%;
  padding:3.125rem;
  display: flex;
}

.article__left-content {
  display: flex;
  width: 100%;
}
.article__left-content_title {
  flex:1;
  width: 30%;
}

.article__left-content_text {
  flex:2;
  width: 70%;
}

.article{
  border-bottom: rem(4px) solid #f1f1f2;
  padding-bottom: rem(65px);
  margin-bottom: rem(65px);
}

.article__data{
  margin-bottom: rem(30px);
}

.article__text{
  @include robotoreg;
  margin-bottom: rem(20px);
}


.article__left {
  flex:1;
  padding: rem(30px);
}

.article__right {
  flex:1;
  padding: rem(30px);
}


.subtitle_blog {
  text-align: center;
  font-family: bernier_regularregular;
  font-size: rem(35px);
  color: #455a64;
  margin-bottom: 1.875rem;
}

.foto__me_main {
  margin-bottom: rem(20px);
}