.blog{
  @extend .welcome;
  background:url("../images/background/blog_bg.jpg")center bottom no-repeat;
  background-size:cover;
  clip-path: polygon(0px 0%, 200% 0px, 50% 100%, 0px 67%, 0px 100px);
}

.user-blog{
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  align-items:center;
  position: relative;

  &:after{
    content:'';
    position: absolute;
     width: rem(290px);
    height: rem(200px);
    background:url("../images/icons/blog_header.svg");
    opacity: 0.1;
    top: 50%;
  }
}
.user-name{
  margin-top: rem(50px);
}
.title{
  @include title;
}
.user__text{
  @include roboto;
}
.main-blog{
  display: flex;
  align-items: center;
  justify-content: center;
}
.saidbar{
  width: 35%;
  min-height: 63.75rem;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 rem(50px);
    text-align: right;
  }
  &__item{
    margin-bottom: rem(35px);
    &-active{
      .saidbar__link{
        @include robotobold;
        color:#00bfa5;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          width: rem(2px);
          height: rem(41px);
          background: #00bfa5;
          right: rem(-15px);
          top: rem(-9px);
        }
      }

    }
  }
  &__link{
    display: block;
    @include robotoreg;
  }
}
.articles{
  width: 65%;
  padding:3.125rem;
}
.article{
 border-bottom: rem(4px) solid #f1f1f2;
  padding-bottom: rem(65px);
  margin-bottom: rem(65px);
}
.subtitle{
  @include subtitle;
  margin-bottom: rem(30px);
}
.article__data{
  margin-bottom: rem(30px);
}
.data__time{
  @include robotoreg;
  color: #00bfa5;
}
.article__text{
  @include robotoreg;
  margin-bottom: rem(20px);
}
.code{
  width:100%;
  &__img{
    max-width: 100%;
  }
}

.article_item {
  font-family: robotomedium;
  font-size: rem(28px);
  color: #455a64;
  font-weight: 500;
}
