

.subtitle {
&:after{
  content:'';
  position: absolute;
  width: 31.125rem;
  height: 11.5rem;
  background:url("../images/icons/about_header.svg");
  opacity: 0.1;
  top: -107%;
  right: -112%;
}
}