.comments {
  background: url("../images/background/bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

.work-container{
  background: #faf8f0;
}

.subtitle__comments {
  margin-top: rem(32px);
  font: 2.1875rem bernier_regularregular;
  color: #455a64;
  text-align: center;
  font-size:rem(63px);
  position: relative;
  height: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  &:after{
    content:'';
    position: absolute;
    width: 31.125rem;
    height: 11.5rem;
    background:url("../images/icons/about_header.svg");
    opacity: 0.1;
    top: -51%;
    right: 29%;
    background-size: 83%;
    background-repeat: no-repeat;
  }
}
.subtitle_works {
  font: 2.1875rem bernier_regularregular;
  color: #455a64;
  margin-bottom: 1.875rem;
  text-align: center;
  padding-top: rem(28px);
  font-size:rem(63px);
&:after{
  content:'';
  position: absolute;
  width: 31.125rem;
  height: 10.5rem;
  background:url("../images/icons/works_header.svg");
  opacity: 0.1;
  top: 24%;
  right: 29%;
  background-size: 80%;
  background-repeat: no-repeat;
}
}

.articles_works {
  width: 100%;
  display: flex;
  background: #f0efe9;
}

.main-works{
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments__description {
  font-family: robotoregular;
  font-size: rem(16px);
  color: #373e42;
  display: flex;
  padding: 5.5625rem;
  justify-content: center;
}

.comments__description_left, .comments__description_right {
  width:33%;
  margin: rem(10px);
}

.comments__description_content {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
}

.comments__description_img {
  margin-right: .9375rem;
}

.comments__description_title {
  font-family: robotobold;
  font-size: rem(16px);
  color: #20b5a1;
}

.comments__description_position {
  font-family: robotoregular;
  font-size: rem(16px);
  color: #20b5a1;
}

.article__text_works {
  font-family: robotomedium;
  font-size: rem(16px);
  color: #20b5a1;
  margin-bottom: rem(20px);
}

.works {
  width: rem(199px);
  height: rem(46px);
  border: none;
  background: #20b5a1;
  border-radius: 3px;
  font-family: robotomedium;
  font-size: rem(16px);
  color: white;
}

.article__right_slides {
  display: flex;
}

.article__right_slides_left {
  flex:1;
}
.article__right_slides_right {
  flex:1;
}
#article_color{
  height: 100%;
}

.form {
  z-index: 2000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subtitle-form {
  position: relative;
}

.form__input {
  margin-bottom: 1.25rem;
  width: 95%;
  height: 2.8125rem;
  -webkit-border-radius: .3125rem;
  border-radius: .3125rem;
  background: #fff;
  padding: 0 .9375rem;
  border: .0625rem solid transparent;
}

.form__message {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2000;
  margin-bottom: 3.75rem;
  width: 95%;
  height: 9.0625rem;
  -webkit-border-radius: .3125rem;
  border-radius: .3125rem;
  background: #fff;
  padding: .625rem .9375rem;
  border: .0625rem solid transparent;
  resize: none;
}

.form__button_send {
  font-family: robotomedium;
  font-size: rem(16px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2.8125rem;
  background: #06b39e;
  color: #fff;
  border: .0625rem solid transparent;
  border-right: .0625rem solid #fff;
  -webkit-border-bottom-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
}


.form__button_clear {
  font-family: robotomedium;
  font-size: rem(16px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 2.8125rem;
  background: #06b39e;
  color: #fff;
  border: .0625rem solid transparent;
  -webkit-border-bottom-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;
}

.arrow-scroll_up {
  display: block;
  width: 1.875rem;
  height: 6.25rem;
  margin: 0 auto;
}

.icon__scroll_up {
  fill: #b4d0d2;
}

.blur{
  background: url("../images/background/bg_blur.png") center top no-repeat;
  filter: blur(0.25rem);
  position: absolute;
  width: 100%;
  height: 27.5rem;
  top: 0;
  z-index: 0;
  background: #fff;
  opacity: .6;
  right: 0%;
  height:100%;
}

.blur__img {
  display: block;
  max-width:100%;
}

.blur__background {
  position: absolute;
  top:0;
  left:0;
  right:0;
  min-width: 900px;
}

.blur__form-wrapper {
  //position: absolute;
  top: 50%;
  left: 50%;
  height: rem(400px);
  margin-left: -28.125rem;
  margin-top: -13.5rem;
  overflow: hidden;
  border-radius: rem(10px);
  position: relative;
  min-width: 56.25rem;
}

.blur__form {
  width: 100%;
  height: 100%;
  background-size: rem(900px);
  background-position: -260px -158px;
  filter: blur(0.25rem);
  background: url("../images/background/bg_blur.png") center top no-repeat;
}


  .block-form {
    margin: 0 auto 3.75rem;
    background: url("../images/background/bg_blur.png") center top no-repeat;
    width: 23.75rem;
    padding: 1.875rem .9375rem 0;
    -webkit-border-top-left-radius: .3125rem;
    border-top-left-radius: .3125rem;
    -webkit-border-top-right-radius: .3125rem;
    border-top-right-radius: .3125rem;
    position: relative;
  }
  .subtitle-form {
    z-index: 2000;
  }
  .form__name {
    z-index: 2000;
  }
  .form__email {
    z-index: 2000;
  }
  .works_img {
    width: 100%;
  }

  #article_left {
    margin: rem(148px);
    padding: 0;
  }
  .works_img_big {
    width: 80%;
    margin-left: rem(82px);
    margin-top: rem(20px);
    margin-bottom: rem(22px);
  }

  .article__left {
    flex:1;
    width: 50%;
    background: #efeee9;
    padding: 0 4.6875rem;
    text-align: center;
    @include phones {
      width: 100%;
      padding: 0 1.6875rem;
    }
  }

  .article__right {
    width: 50%;
    background: #eeebdf;
    padding: 0 .3125rem 0 2.1875rem;
    @include phones {
      width: 100%;
    }
  }

  #article_color {
    padding: 0;
  }

.subtitle-form:before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .3125rem;
  background-color: rgba(255,255,255,.5);
  top: 46%;
  left: -2.375rem;
}

.subtitle-form:after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .3125rem;
  background-color: rgba(255,255,255,.5);
  top: 46%;
  right: -2.375rem;
}