.comments {
  background: url("../images/background/bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

.work-container{
  background: #faf8f0;
}

.subtitle__comments {
  margin-top: rem(32px);
  font: 2.1875rem bernier_regularregular;
  color: #455a64;
  text-align: center;
  font-size: rem(63px);
  position: relative;
  height: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  &:after {
    content: '';
    position: absolute;
    width: 31.125rem;
    height: 11.5rem;
    background: url("../images/icons/about_header.svg");
    opacity: 0.1;
    top: -51%;
    right: 29%;
    background-size: 83%;
    background-repeat: no-repeat;
    @include phones {
      top: -1%;
      right: -30%;
    }
    @include tablets {
      top: -1%;
      right: -30%;
    }
  }
}

  .subtitle__comments {
    @include phones {
      text-align: center;
      padding: 0 5.25rem;
    }
    @include tablets {
      text-align: center;
      padding: 0 5.25rem;
    }
  }


.subtitle_works {
  font: 2.1875rem bernier_regularregular;
  color: #455a64;
  margin-bottom: 1.875rem;
  text-align: center;
  padding-top: 1.25rem;
  font-size:rem(63px);
&:after{
  content:'';
  position: absolute;
  width: 31.125rem;
  height: 10.5rem;
  background:url("../images/icons/works_header.svg");
  opacity: 0.1;
  top: 22%;
  right: 29%;
  background-size: 80%;
  background-repeat: no-repeat;
  @include phones {
    top: 23%;
    right: -36%;

  }
}
}

.articles_works {
  width: 100%;
  display: flex;
  background: #f0efe9;
}

.works-text {
  color: white;
}

.main-works{
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments__description {
  font-family: robotoregular;
  font-size: rem(16px);
  color: #373e42;
  display: flex;
  padding: 5.5625rem;
  justify-content: center;
  @include phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5625rem;
  }
}

.comments__description_left, .comments__description_right {
  width:33%;
  margin: rem(10px);
  @include phones {
    width: 100%;
    text-align: left;
  }
}

.comments__description_content {
  display: flex;
  margin-top: 1.25rem;
  align-items: center;
}

.comments__description_img {
  margin-right: .9375rem;
}

.comments__description_title {
  font-family: robotobold;
  font-size: rem(16px);
  color: #20b5a1;
}

.comments__description_position {
  font-family: robotoregular;
  font-size: rem(16px);
  color: #20b5a1;
}

.article__text_works {
  font-family: robotomedium;
  font-size: rem(16px);
  color: #20b5a1;
  margin-bottom: rem(20px);
  margin-bottom: rem(33px);
}

.article__text_works:before {
  content: '';
  width: 25%;
  height: rem(1px);
  background-color: #00bfa5;
  border-radius: rem(2px);
  position: absolute;
  margin-top: -1rem;
  left: 25%;
  transform: translateX(-50%);

}

.article__text_works:after{
  content: '';
  width: 25%;
  height: rem(1px);
  background-color: #00bfa5;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  margin-top: rem(30px);
}

.works {
  width: rem(199px);
  height: rem(46px);
  border: none;
  background: #20b5a1;
  border-radius: rem(4px);
  font-family: robotomedium;
  font-size: rem(16px);
  color: white;
  &:hover {
    background: #009688;
   transition: .5s; }
}


.article__right_slides {
  display: flex;
}

.article__right_slides_left {
  flex:1;
}
.article__right_slides_right {
  flex:1;
}
#article_color{
  height: 100%;
}

.form {
  z-index: 2000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subtitle-form {
  position: relative;
}

.form__input {
  margin-bottom: 1.25rem;
  width: 95%;
  height: 2.8125rem;
  -webkit-border-radius: .3125rem;
  border-radius: .3125rem;
  background: #fff;
  padding: 0 .9375rem;
  border: .0625rem solid transparent;
}

.form__message {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2000;
  margin-bottom: 3.75rem;
  width: 95%;
  height: 9.0625rem;
  -webkit-border-radius: .3125rem;
  border-radius: .3125rem;
  background: #fff;
  padding: .625rem .9375rem;
  border: .0625rem solid transparent;
  resize: none;
}

.form__button_send {
  font-family: robotomedium;
  font-size: rem(16px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2.8125rem;
  background: #06b39e;
  color: #fff;
  border: .0625rem solid transparent;
  border-right: .0625rem solid #fff;
  -webkit-border-bottom-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
  &:hover {
    background: #009688;
    transition: .5s;
  }
}


.form__button_clear {
  font-family: robotomedium;
  font-size: rem(16px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 2.8125rem;
  background: #06b39e;
  color: #fff;
  border: .0625rem solid transparent;
  -webkit-border-bottom-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;
  &:hover {
    background: #009688;
    transition: .5s;
  }
}

.arrow-scroll_up {
  display: block;
  width: 1.875rem;
  height: 6.25rem;
  margin: 0 auto;
}

.icon__scroll_up {
  fill: #b4d0d2;
}

.blur{
  background: url("../images/background/bg_blur.png") center top no-repeat;
  filter: blur(0.25rem);
  position: absolute;
  width: 100%;
  height: 27.5rem;
  top: 0;
  z-index: 0;
  background: #fff;
  opacity: .6;
  right: 0%;
  height:100%;
}

.blur__img {
  display: block;
  max-width:100%;
}

.blur__background {
  position: absolute;
  top:0;
  left:0;
  right:0;
  min-width: 900px;
}

.blur__form-wrapper {
  //position: absolute;
  top: 50%;
  left: 50%;
  height: rem(400px);
  margin-left: -28.125rem;
  margin-top: -13.5rem;
  overflow: hidden;
  border-radius: rem(10px);
  position: relative;
  min-width: 56.25rem;
}

.blur__form {
  width: 100%;
  height: 100%;
  background-size: rem(900px);
  background-position: -260px -158px;
  filter: blur(0.25rem);
  background: url("../images/background/bg_blur.png") center top no-repeat;
}


  .block-form {
    margin: 0 auto 3.75rem;
    background: url("../images/background/bg_blur.png") center top no-repeat;
    width: 23.75rem;
    padding: 1.875rem .9375rem 0;
    -webkit-border-top-left-radius: .3125rem;
    border-top-left-radius: .3125rem;
    -webkit-border-top-right-radius: .3125rem;
    border-top-right-radius: .3125rem;
    position: relative;
    @include phones{
       width: 21rem;
     }
    @include tablets{
      width: 21rem;
    }
  }
  .subtitle-form {
    z-index: 2000;
  }
  .form__name {
    z-index: 2000;
  }
  .form__email {
    z-index: 2000;
  }
  .works_img {
    width: 100%;
  }

  #article_left {
    margin: rem(148px);
    padding: 0;
  }
  .works_img_big {
    width: 80%;
    margin-left: rem(82px);
    margin-top: rem(20px);
    margin-bottom: rem(22px);
  }

  .article__left {
    flex:1;
    width: 50%;
    background: #efeee9;
    padding: 0 4.6875rem;
    text-align: center;
    @include phones {
      width: 100%;
      padding: 0 1.6875rem;
    }
  }



  .article__right {
    width: 50%;
    background: #eeebdf;
    padding: 0 .3125rem 0 2.1875rem;
    @include phones {
      width: 100%;
    }
  }

  #article_color {
    padding: 0;
  }

.subtitle-form:before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .3125rem;
  background-color: rgba(255,255,255,.5);
  top: 46%;
  left: -2.375rem;
}

.subtitle-form:after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .3125rem;
  background-color: rgba(255,255,255,.5);
  top: 46%;
  right: -2.375rem;
}

.works-pic {
  left: rem(15px);
  bottom: rem(14px);
  fill: white;
  width: rem(20px);
  margin-right: rem(7px);
  height: rem(19px);
}




.slider {
  width: 100%;
  //height: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include tablets {
    flex-wrap: nowrap;
  }

  &__description {
    height: 100%;
    width: 50%;
    background-color: #f0efe9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
      width: 100%;
      height: rem(270px);
      order: 5;
    }
  }

  &__description--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__title {
    margin-bottom: rem(39px);
  }

  &__text {
    font-family: robotomedium;
    font-size: rem(16px);
    font-weight: 500;
    color: $light;
    text-transform: uppercase;
    margin-bottom: rem(39px);
    position: relative;

    @include phones {
      font-size: rem(14px);
    }
  }

  &__text:before {
    content: '';
    width: 70%;
    height: rem(1px);
    background-color: $light;
    position: absolute;
    top: rem(-16px);
    left: 50%;
    transform: translateX(-50%);
    opacity: .4;
  }

  &__text:after {
    content: '';
    width: 70%;
    height: rem(1px);
    background-color: $light;
    position: absolute;
    left: 50%;
    bottom: rem(-16px);
    transform: translateX(-50%);
    opacity: .4;
  }

  &__link-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  &__link {
    padding: rem(17px 21px 17px 41px);
    position: relative;
    background-color: $light;
    color: #fff;
    font-family: robotomedium;
    font-weight: 500;
    font-size: rem(16px);
    border-radius: rem(5px);
    transition: .3s;

    @include phones {
      font-size: rem(14px);
      padding: rem(12px 20px 12px 52px);
    }
  }

  &__link:hover {
    background-color: $green;
  }

  &__link--pic {
    position: absolute;
    left: rem(15px);
    bottom: rem(14px);

    @include phones {
      left: rem(20px);
      bottom: rem(7px);
    }
  }

  &__main-pic {
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #efebe0;

    @include tablets {
      width: 100%;
      height: auto;
      padding-bottom: 45px;
    }
  }

  &__main-pic--block {
    width: 100%;
  }

  &__main-pic--img {
    width: 100%;
    height: 100%;
  }

  &__menu {
    width: 50%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #efebe0;

    @include tablets {
      width: 100%;
      height: auto;
      order: 10;
    }
  }

  &__btn-block {
    width: 100%;
    max-height: rem(225px);
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  &__menu--prev-img, .slider__menu--next-img {
    width: 50%;
    //height: 100%;
    position: relative;
  }

  &__prev-pic--img, .slider__next-pic--img {
    width: 100%;
    height: 100%;
  }

  &__menu--prev, .slider__menu--next {
    width: rem(43px);
    height: rem(27px);
    position: absolute;
    top: 50%;
    left: 43%;
    z-index: 5;
    transition: .4s;
  }
}

.slider__menu--prev:hover, .slider__menu--next:hover {
  transform: scale(1.3);
}

.slider__menu--prev-img:after, .slider__menu--next-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(182, 180, 174, 0.7);
  transition: .3s;
}

.link-svg {
  width: rem(20px);
  height: rem(20px);
  fill: white;
}

.arrow-down, .arrow-up {
  height: 100%;
  width: 100%;
  position: absolute;
  fill: white;
}

.arrow-up {
  transform: rotateX(180deg);
}

.block-section-title {
  width: 100%;
  height: rem(184px);
  position: relative;
  background-color: #fff;
  text-align: center;
}

.title-background {
  width: rem(505px);
  height: rem(184px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/icons/works_header.svg) no-repeat;
  background-size: contain;
  opacity: .1;
}

.block-title {
  font-family: bernier_regular;
  font-weight: 400;
  font-size: rem(63px);
  color: #373e42;
  text-transform: uppercase;
  text-align: center;
}

.block-title-works {
  padding-top: rem(50px);
}

.block-slider {
  width: 100%;
  height: rem(750px);
}