.welcome {
  height: 100vh;
  min-height: 40.625rem;
  background: url("../images/background/mount_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.head {
  padding: rem(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log-in {
  padding: rem(15px) rem(25px);
  border: rem(1px) solid #f5f6f5;
  color: #f5f6f5;
  border-radius: rem(5px);
  font-family: 'robotomedium';
  font-size: rem(16px);
  font-weight: 500;
  &:hover {
    background: #ffffff;
    color: #20c6af;
    transition: .5s;
  }
}

.user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(380px);
  height: rem(395px);
  border-radius: rem(5px);
  background-color: #e5e5dd;
  opacity: 0.851;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(35px);
  border-bottom: none;
}

.foto {
  overflow: hidden;
  width: rem(135px);
  height: rem(135px);
  border-radius: 50%;
  &__user {
    max-width: 100%;
  }
}

.name {
  text-align: center;
  &__user {
    font: rem(28px) 'robotomedium';
    color: #455a64;
  }
  &__description {
    font: rem(16px) 'robotoregular';
    color: #455a64;
  }
}

.social {
  display: flex;
  &__item {
    margin-right: rem(20px);
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    display: block;
  }
  &__icon {
    fill: #70d1c6;
    &:hover {
      fill: $aquamarine;
      transition: .5s;
    }
  }
}

.navigation {
  width: 100%;
  display: flex;
  text-align: center;
  &__item {
    flex: 1 1 auto;
    padding: rem(12px) rem(25px);
    border-right: rem(1px) solid #ffffff;
    border-bottom: rem(2px) solid $aquamarine;
    background: $aquamarine;
    &:hover {
      cursor: pointer;
      background: #159689;
    }
    &:last-child {
      border-right: none;
      border-bottom-right-radius: rem(5px);
    }
    &:first-child {
      border-right: none;
      border-bottom-left-radius: rem(5px);
      border-right: rem(1px) solid #ffffff;
    }
  }
  &__link {
    font: rem(16px) 'robotomedium';
    color: #ffffff;
  }
}

.dev {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: rem(35px);
  left: 50%;
  height: rem(20px);
  padding: 0 rem(5px);
  border-right: rem(2px) solid #ffffff;
  &:last-child {
    border-right: none;
  }
  font: rem(16px) 'robotolight';
  color: #ffffff;

}

.login__user {
  font: 1.75rem bernier_regularregular;
  color: #455a64;
  text-align: center;
  font-size: rem(35px);
}

.logo__icon {
  height: rem(40px);
}

.authorization__checkbox, .authorization__radio {
  text-align: center;
  font: 1rem robotoregular;
  color: #455a64;
  font-size: rem(16px);
  font-weight: 400;
}

.password__field {
  margin-bottom: rem(37px);
}

.radio__text_bold {
  text-align: center;
  font: 1rem robotobold;
  color: #455a64;
  font-size: rem(16px);
  font-weight: 700;
}

.user-login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23.75rem;
  height: 24.6875rem;
  -webkit-border-radius: .3125rem;
  border-radius: .3125rem;
  background-color: #e5e5dd;
  opacity: .851;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2.1875rem;
  border-bottom: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg) translate(50%,-50%);
  transform: rotateY(180deg) translate(50%,-50%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.subtitle {
  font: 2.1875rem bernier_regularregular;
  color: #455a64;
  margin-bottom: 1.875rem;
}

.subtitle-login:before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .3125rem;
  background-color: rgba(55,62,66,.2);
  top: 50%;
  left: -2.375rem;
}
.subtitle-login:after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: .3125rem;
  background-color: rgba(55,62,66,.2);
  top: 50%;
  right: -2.375rem;
}

.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .9375rem;
}

.login__svg {
  width: 2.6875rem;
  height: 2.8125rem;
  background: url("../images/icons/login.svg") center center no-repeat #f0efe9;
  -webkit-border-top-left-radius: .3125rem;
  border-top-left-radius: .3125rem;
  -webkit-border-bottom-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
}

.login__user {
  text-align: left;
  font-family:robotoregular;
  font-size: rem(16px);
  height: 2.8125rem;
  width: 18.125rem;
  border: .0625rem solid transparent;
  outline: 0;
  background: #fff;
  padding: 0 .9375rem;
  -webkit-border-top-right-radius: .3125rem;
  border-top-right-radius: .3125rem;
  -webkit-border-bottom-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;
}

.password__svg {
  width: 2.6875rem;
  height: 2.8125rem;
  background: url("../images/icons/password.svg") center center no-repeat #f0efe9;
  -webkit-border-top-left-radius: .3125rem;
  border-top-left-radius: .3125rem;
  -webkit-border-bottom-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
}

.test__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .9375rem;
}

.test__question {
  font: 1rem/1.4 robotobold;
  color: #455a64;
  text-align: center;
  margin-bottom: .625rem;
}

.test__radio-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15.625rem;
}



.test__checkbox, .test__radio {
  display: none;
}

.radio-custom, .test__radio:checked+.radio-custom::before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.label-custom {
  font: 1rem/1.625rem robotoregular;
  color: #455a64;
  margin-left: .3125rem;
}

.label-custom {
  display: inline-block;
}
.test__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .9375rem;
}
.test__checkbox, .test__radio {
  display: none;
}

.label-custom {
  display: inline-block;
}

.checkbox-custom, .radio-custom {
  width: 1.25rem;
  height: 1.25rem;
  border: .0625rem solid #ccc;
  -webkit-border-radius: .1875rem;
  border-radius: .1875rem;
  position: relative;
  display: inline-block;
}

.checkbox-custom {
  background: #00bfa5;
}
.test__checkbox:checked+.checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: .3125rem;
  right: .3125rem;
  bottom: .3125rem;
  left: .3125rem;
  background: url("../images/icons/check.svg") center center no-repeat;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  background-size: rem(8px);
}


.checkbox-custom, .radio-custom {
  width: 1.25rem;
  height: 1.25rem;
  border: .0625rem solid #ccc;
  -webkit-border-radius: .1875rem;
  border-radius: .1875rem;
  position: relative;
  display: inline-block;
}

.radio-custom {
  border-radius: 50%;
}

.test__radio:checked+.radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: .3125rem;
  right: .3125rem;
  bottom: .3125rem;
  left: .3125rem;
  background: #00bfa5;
}

.test__radio:checked~.label-custom {
  color: #08af9c;
}